{% extends 'base.html' %}
{% load static %}

{% block content %}
 <div class="about_section layout_padding" id="about">
    <div class="container">
      <div class="image_2"><img src="{% static 'images/img-2.png' %}"></div>
      <h1 class="about_taital">About Our Shop</h1>
      <div class="image_3"><img src="{% static 'images/img-3.png' %}"></div>
      <p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem</p>
      <div class="read_bt_1"><a href="#">Read More</a></div>
    </div>
 </div>
{% endblock %}